<html>
    <head>
        <meta charset="utf-8">
        <base href="">
        <title>Citizen Certificate (English)</title>
        <style type="text/css" media="all">
            body { font-family: 'Arial', sans-serif; font-size:10.5pt; }
            @media print { * { -webkit-print-color-adjust:exact } }
            @page { header:page-header; footer:page-footer; margin:20px 0px; padding:0px }
            .header-font { font-size:18.75pt; font-weight:bold; color:blue; }
            .title-font { font-size:18.75pt; font-weight:bold; }
            .label-font { font-size:12pt; font-weight:bold; }
            .value-font { font-size:12pt; }
        </style>
    </head>
    <body>
        <table border="0" width="98%" align="center">
            <tr>
                <td style="text-align:center;font-size:18.75pt;font-weight:bold;">{{ union.union_name_en|default(union.union_name_bn) }}</td>
            </tr>
        </table>

        <table border="0" width="98%" align="center">
            <tr>
                <td style="text-align:center;font-size:18.75pt;font-weight:bold;"><u>Citizen Certificate</u></td>
            </tr>
        </table>

        <table border="0" width="98%" align="center" style="margin-top:7.5pt;">
            <tr>
                <td style="padding-left:37.5pt; font-size:12pt;">This is to certify that:</td>
            </tr>
        </table>

        <table border="0" width="99%" align="center" style="margin:3.75pt auto;">
            <tr>
                <td style="width:150px;padding-left:37.5pt; font-size:12pt;">Name</td>
                <td style="font-weight:bold; font-size:12pt;">: {{ citizen.name_en|default(citizen.name_bn) }}</td>
            </tr>
            <tr>
                <td style="padding-left:37.5pt; font-size:12pt;">Father</td>
                <td style="font-weight:bold; font-size:12pt;">: {{ citizen.father_name_en|default(citizen.father_name_bn) }}</td>
            </tr>
            <tr>
                <td style="padding-left:37.5pt; font-size:12pt;">Mother</td>
                <td style="font-weight:bold; font-size:12pt;">: {{ citizen.mother_name_en|default(citizen.mother_name_bn) }}</td>
            </tr>
            <tr>
                <td style="padding-left:37.5pt; font-size:12pt;">Date of Birth</td>
                <td style="font-weight:bold; font-size:12pt;">: {{ citizen.birth_date|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <td style="padding-left:37.5pt; font-size:12pt;">National ID</td>
                <td style="font-weight:bold; font-size:12pt;">: {{ citizen.nid }}</td>
            </tr>
            <tr>
                <td style="padding-left:37.5pt; font-size:12pt;">Birth Registration</td>
                <td style="font-weight:bold; font-size:12pt;">: {{ citizen.birth_id }}</td>
            </tr>
            <tr>
                <td valign="top" style="padding-left:37.5pt; font-size:12pt;">Present Address</td>
                <td style="font-size:12pt;">
                    : Village: {{ citizen.present_village_en|default(citizen.present_village_bn) }}, 
                    Post Office: {{ citizen.present_postoffice_en|default(citizen.present_postoffice_bn) }}, 
                    Ward No: {{ citizen.present_ward_no }},
                    Upazila: {{ citizen.present_upazila_en|default(citizen.present_upazila_bn) }},
                    District: {{ citizen.present_district_en|default(citizen.present_district_bn) }}
                </td>
            </tr>
            <tr>
                <td valign="top" style="padding-left:37.5pt; font-size:12pt;">Permanent Address</td>
                <td style="font-size:12pt;">
                    : Village: {{ citizen.permanent_village_en|default(citizen.permanent_village_bn) }}, 
                    Post Office: {{ citizen.permanent_postoffice_en|default(citizen.permanent_postoffice_bn) }}, 
                    Ward No: {{ citizen.permanent_ward_no }},
                    Upazila: {{ citizen.permanent_upazila_en|default(citizen.permanent_upazila_bn) }},
                    District: {{ citizen.permanent_district_en|default(citizen.permanent_district_bn) }}
                </td>
            </tr>
        </table>

        <table border="0" width="99%" align="center" style="margin-top:15pt;">
            <tr>
                <td style="padding-left:37.5pt; font-size:12pt;">
                    This person is confirmed to be a permanent resident of {{ union.union_name_en|default(union.union_name_bn) }} and is entitled to receive this certificate.
                </td>
            </tr>
        </table>

        <table border="0" width="99%" align="center" style="margin-top:22.5pt;">
            <tr>
                <td style="padding-left:37.5pt; font-size:12pt; line-height: 1.8;">
                    Certified by the Union Parishad. This certificate is issued for official use.
                </td>
            </tr>
            <tr>
                <td style="font-size:11.25pt; padding-top: 11.25pt;">
                    Applicant: {{ citizen.applicant_name_en|default(citizen.applicant_name) }}
                </td>
            </tr>
        </table>

        <table border="0" width="99%" align="center" style="margin-top:22.5pt;">
            <tr>
                <td style="font-size:11.25pt; text-align:right; padding-top: 15pt;">
                    Issued by: {{ union.union_name_en|default(union.union_name_bn) }} <br>
                    Authorized Officer: _________________ <br>
                    Date: {{ 'now'|date('d-m-Y') }}
                </td>
            </tr>
        </table>

    </body>
</html>
