<!DOCTYPE html>
<html lang="bn">
<head>
    <meta charset="UTF-8">
    <title>{{ header_title|default('জন্ম নিবন্ধন সনদ') }}</title>
    
<style>

@page {
    size: A4;
    margin: 16mm;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
}

.page {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    border: none;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

.bng-bold {
    font-family: 'SolaimanLipi', 'Helvetica', sans-serif;
    font-weight: bold;
}

.bangla-text {
    font-family: 'SolaimanLipi', 'Helvetica', sans-serif;
}

.english-text {
    font-family: 'Helvetica', 'SolaimanLipi', sans-serif;
}
</style>
</head>
<body>
<div class="page">

<table style="width:182mm; margin:5mm auto 2mm auto; border-collapse:collapse; padding-left:2mm; padding-right:2mm;">
    <tbody>
        <tr>
            <!-- QR Code Section -->
            <td style="width:38mm; vertical-align:middle; text-align:center; padding:0;">
                <table style="width:100%; height:100%; border-collapse:collapse;">
                    <tbody>
                        <tr>
                            <td style="text-align:center; vertical-align:middle; padding:0;">
                                <img src="{{ qr|default('N/A') }}"
                                     style="width:34mm; height:34mm; object-fit:contain; display:block; margin:0 auto 1mm auto;"
                                />
                                <div class="english-text" style="font-size:12pt; padding-top:1mm; color:#555; letter-spacing:1px; text-align:center;">
                                    {{ data.verify_key|default('N/A') }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>

            <!-- Main Text & Logo/Barcode Section -->
            <td style="width:142mm; vertical-align:middle; text-align:left;">
                <!-- Logo & Barcode Row -->
                <table style="width:100%; border-collapse:collapse; text-align:center;">
                    <tbody>
                        <tr>
                            <td style="width:70mm; text-align:right; vertical-align:bottom;">
                                <img src="{{ url|default('N/A') }}/assets/images/union_logo.png"
                                     style="width:20mm; height:auto; display:block; margin:0 auto;"
                                />
                            </td>
                            <td style="width:70mm; text-align:right; vertical-align:bottom;">
                                <img src="{{ barcode|default('N/A') }}"
                                     style="width:55mm; height:6.5mm; display:block; margin:1mm 3mm 4mm 0;"
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Main Text -->
                <table style="width:130mm; margin-top:1mm; border-collapse:collapse; text-align:center; ">
                    <tbody>
                        <tr style="line-height:1.4;">
                            <td class="english-text" style="font-size:16pt; white-space: nowrap;">
                                Government of the People's Republic of Bangladesh
                            </td>
                        </tr>
                        <tr style="line-height:1.4;">
                            <td class="english-text" style="font-size:12pt; white-space: nowrap;">
                                Office of the Registrar, Birth and Death Registration
                            </td>
                        </tr>
                        <tr style="line-height:1.4;">
                            <td class="english-text" style="font-size:12pt; white-space: nowrap;">
                                {{ data.office_name_en|default('N/A')|title }}
                            </td>
                        </tr>
                        <tr style="line-height:1.4;">
                            <td class="english-text" style="font-size:12pt; white-space: nowrap;">
                                {{ data.upazila_office_en|default('N/A')|title }}, {{ data.district_office_en|default('N/A')|title }}
                            </td>
                        </tr>
                        <tr style="line-height:1.4;">
                            <td class="english-text" style="font-size:10pt; font-weight:normal; padding-top:0.5mm; color:#333;">
                                (Rule 9, 10)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>


<table style="width:100%; max-width:178mm; margin-left:14mm; text-align: center; border-collapse: collapse; border-spacing: 0; margin-top: 4mm; vertical-align:top;">
    <tbody>
    <tr style="line-height:1.28em;">
        <td colspan="4" style="font-family: 'nikosh'; font-size:14pt;
            font-weight: bold;
            padding:6px 8px 24px 8px; text-align:center;">
           <span class="bangla-text"><b>জন্ম নিবন্ধন সনদ </b></span> / <span class="english-text" style="font-weight:bold;">Birth Registration Certificate</span>
        </td>
    </tr>
    
    
    <tr style="line-height:1.28em;">
        <th class="english-text" style="width:44.5mm;
            font-size:10.5pt; font-weight:normal; text-align:left; padding:2px 0 0 0;">Date of Registration</th>
        <th class="english-text" colspan="2" style="width:89mm;
            font-size:12pt; font-weight:normal; text-align:center; padding:2px 0 0 0; font-family: 'dejavuserif';">Birth Registration Number</th>
        <th class="english-text" style="width:44.5mm;
            font-size:10.5pt; font-weight:normal;
            text-align:left; padding:2px 2px 0 2px;">Date of Issuance</th>
    </tr>

    <tr style="line-height:1.28em;">
        <td class="english-text" style="width:44.5mm;
            font-size:10.5pt; font-weight:normal; text-align:left; padding:2px 0 0 0;">
            {{ data.date_of_registration|date('d/m/Y')|default('N/A') }}
        </td>
        <td class="english-text" colspan="2" style="width:89mm;
            font-size:12pt; font-weight:bold; text-align:center; padding:2px 0 0 0; font-family: 'dejavuserif';">
            {{ data.registration_number|default('N/A') }}
        </td>
        <td class="english-text" style="width:44.5mm;
            font-size:10.5pt; font-weight:normal; text-align:left; padding:2px 0 0 0;">
            {{ data.date_of_issuance|date('d/m/Y')|default('N/A') }}
        </td>
    </tr>
    </tbody>
</table>








<table style="width:100%; max-width:178mm; padding-left:14mm; font-size:12pt; font-weight:normal; border-collapse: separate; border-spacing: 0 2px; margin-top: 8mm;">
    <tbody>
    
    <tr style="line-height:1.3em;">
        <th class="english-text" style="width:30mm;
            padding:2px 0; font-weight:normal; vertical-align:middle;
            text-align:left;">Date of Birth</th>
        <td style="width:56mm; padding:2px 0; vertical-align:middle;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:middle;">:</td>
                    <td class="english-text" style="vertical-align:middle;">{{ data.birth_date|date('d/m/Y')|default('N/A') }}</td>
                </tr>
            </table>
        </td>
    
        <th style="width:30mm;
            padding:2px 0; font-weight:normal; vertical-align:middle; text-align:left;"></th>
        <td style="width:56mm; padding:2px 0; vertical-align:middle;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:middle;">Sex&nbsp;:</td>
                    <td class="english-text" style="vertical-align:middle;">{{ data.sex|capitalize|default('N/A') }}</td>
                </tr>
            </table>
        </td>
    </tr>
    
    <tr style="line-height:2em;">
        <th class="english-text" style="width:30mm; padding:2px 0; font-weight:normal; vertical-align:middle; text-align:left;">In Word</th>
        <td colspan="3" style="width:142mm; padding:2px 0; vertical-align:middle;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm; vertical-align:middle;">:</td>
                    <td class="english-text" style="vertical-align:middle; font-style:italic;">{{ data.birth_date_words_en|default('N/A') }}</td>
                </tr>
            </table>
        </td>
    </tr>
    
    <tr style="line-height:2em;">
        <td colspan="4" style="height:12px;"></td>
    </tr>
    
    </tbody>
</table>




<table style="width:100%; max-width:178mm; padding-left:14mm; font-size:12pt; border-collapse: separate; border-spacing: 0 10px; margin-top: 2mm;">
    <tbody>
    
    <tr style="line-height:2em;">
        <th class="bangla-text" style="width:30mm; padding:4px;
            font-weight:normal; vertical-align:top;
            text-align:left;">নাম</th>
        <td style="width:56mm; padding:4px; vertical-align:top;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:top;">:</td>
                    <td class="bangla-text" style="vertical-align:top;">{{ data.name_bn|default('নাই') }}</td>
                </tr>
            </table>
        </td>
        <th class="english-text" style="width:30mm;
            padding:4px; font-weight:normal; vertical-align:top; text-align:left;">Name</th>
        <td style="width:56mm; padding:4px; vertical-align:top;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:top;">:</td>
                    <td class="english-text" style="vertical-align:top;">{{ data.name_en|default('N/A')|title }}</td>
                </tr>
            </table>
        </td>
    </tr>
    
    <tr style="line-height:2em;">
        <th class="bangla-text" style="width:30mm;
            padding:4px; font-weight:normal; vertical-align:top; text-align:left;">মাতা</th>
        <td style="width:56mm; padding:4px; vertical-align:top;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:top;">:</td>
                    <td class="bangla-text" style="vertical-align:top;">{{ data.mother_name_bn|default('নাই') }}</td>
                </tr>
            </table>
        </td>
        <th class="english-text" style="width:30mm;
            padding:4px; font-weight:normal; vertical-align:top; text-align:left;">Mother</th>
        <td style="width:56mm; padding:4px; vertical-align:top;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:top;">:</td>
                    <td class="english-text" style="vertical-align:top;">{{ data.mother_name_en|default('N/A')|title }}</td>
                </tr>
            </table>
        </td>
    </tr>
    
    <tr style="line-height:2em;">
        <th class="bangla-text" style="width:30mm;
            padding:4px; font-weight:normal; vertical-align:top; text-align:left;">মাতার জাতীয়তা</th>
        <td style="width:56mm; padding:4px; vertical-align:top;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:top;">:</td>
                    <td class="bangla-text" style="vertical-align:top;">{{ data.mother_nationality_bn|default('নাই') }}</td>
                </tr>
            </table>
        </td>
        <th class="english-text" style="width:30mm;
            padding:4px; font-weight:normal; vertical-align:top; text-align:left;">Nationality</th>
        <td style="width:56mm; padding:4px; vertical-align:top;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:top;">:</td>
                    <td class="english-text" style="vertical-align:top;">{{ data.mother_nationality_en|default('N/A') }}</td>
                </tr>
            </table>
        </td>
    </tr>
    
    <tr style="line-height:2em;">
        <th class="bangla-text" style="width:30mm;
            padding:4px; font-weight:normal; vertical-align:top; text-align:left;">পিতা</th>
        <td style="width:56mm; padding:4px; vertical-align:top;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:top;">:</td>
                    <td class="bangla-text" style="vertical-align:top;">{{ data.father_name_bn|default('নাই') }}</td>
                </tr>
            </table>
        </td>
        <th class="english-text" style="width:30mm;
            padding:4px; font-weight:normal; vertical-align:top; text-align:left;">Father</th>
        <td style="width:56mm; padding:4px; vertical-align:top;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:top;">:</td>
                    <td class="english-text" style="vertical-align:top;">{{ data.father_name_en|default('N/A')|title }}</td>
                </tr>
            </table>
        </td>
    </tr>
    
    <tr style="line-height:2em;">
        <th class="bangla-text" style="width:30mm;
            padding:4px; font-weight:normal; vertical-align:top; text-align:left;">পিতার জাতীয়তা</th>
        <td style="width:56mm; padding:4px; vertical-align:top;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:top;">:</td>
                    <td class="bangla-text" style="vertical-align:top;">{{ data.father_nationality_bn|default('নাই') }}</td>
                </tr>
            </table>
        </td>
        <th class="english-text" style="width:30mm;
            padding:4px; font-weight:normal; vertical-align:top; text-align:left;">Nationality</th>
        <td style="width:56mm; padding:4px; vertical-align:top;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:top;">:</td>
                    <td class="english-text" style="vertical-align:top;">{{ data.father_nationality_en|default('N/A') }}</td>
                </tr>
            </table>
        </td>
    </tr>
    
    <tr style="line-height:2em;">
        <th class="bangla-text" style="width:30mm;
            padding:4px; font-weight:normal; vertical-align:top; text-align:left;">জন্মস্থান</th>
        <td style="width:56mm; padding:4px; vertical-align:top;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:top;">:</td>
                    <td class="bangla-text" style="vertical-align:top;">{{ data.district_bn|default('নাই') }}, {{ data.country_bn|default('নাই') }}</td>
                </tr>
            </table>
        </td>
        <th class="english-text" style="width:30mm;
            padding:4px; font-weight:normal; vertical-align:top; text-align:left;">Place of Birth</th>
        <td style="width:56mm; padding:4px; vertical-align:top;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:top;">:</td>
                    <td class="english-text" style="vertical-align:top;">{{ data.district_en|default('N/A')|title }}, {{ data.country_en|default('N/A')|title }}</td>
                </tr>
            </table>
        </td>
    </tr>
    
    <tr style="line-height:2em;">
        <th class="bangla-text" style="width:30mm;
            padding:4px; font-weight:normal; vertical-align:top; text-align:left;">স্থায়ী ঠিকানা</th>
        <td style="width:56mm; padding:4px; vertical-align:top;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:top;">:</td>
                    <td class="bangla-text" style="vertical-align:top;">

                        {% if data.permanent_address_bn %}{{ data.permanent_address_bn|bn }}{% endif %}
                    </td>
            
                </tr>
            </table>
        </td>
    
        <th class="english-text" style="width:30mm;
            padding:4px; font-weight:normal; vertical-align:top; text-align:left;">Permanent Address</th>
        <td style="width:56mm; padding:4px; vertical-align:top;
            text-align:left;">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="width:4mm;
                        vertical-align:top;">:</td>
                    <td class="english-text" style="vertical-align:top;">

                        {% if data.permanent_address_en %}{{ data.permanent_address_en|title }}{% endif %}
                    </td>
            
                </tr>
            </table>
        </td>
    </tr>
    
    </tbody>
</table>





<table style="width:178mm; margin:0 auto; border-collapse: collapse; margin-top:34mm;">
  <tbody>
    <tr>
      <!-- Left Seal -->
      <td style="width:60mm; padding-left:6mm; vertical-align:top; text-align:left;">
        <table style="width:100%; border-collapse:collapse; text-align:center;">
          <tbody>
            <tr>
              <td class="english-text" style="font-size:12pt; padding:4px 0;">Seal &amp; Signature</td>
            </tr>
            <tr>
              <td class="english-text" style="font-size:10pt; padding:2px 0;">Assistant to Registrar</td>
            </tr>
            <tr>
              <td class="english-text" style="font-size:10pt; padding:2px 0;">(Preparation, Verification)</td>
            </tr>
          </tbody>
        </table>
      </td>

      <!-- Empty cells for spacing -->
      <td style="width:29mm;">&nbsp;</td>
      <td style="width:29mm;">&nbsp;</td>

      <!-- Right Seal -->
      <td style="width:60mm; vertical-align:top; text-align:center;">
        <table style="width:100%; border-collapse:collapse; text-align:center;">
          <tbody>
            <tr>
              <td class="english-text" style="font-size:12pt; padding:4px 0;">Seal &amp; Signature</td>
            </tr>
            <tr>
              <td class="english-text" style="font-size:10pt; padding:2px 0;">Registrar</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <!-- Spacer Row -->
    <tr>
      <td colspan="4" style="height:14mm;">&nbsp;</td>
    </tr>

    <!-- Footer Text -->
    <tr>
      <td colspan="4" class="english-text" style="font-size:8pt; text-align:center; padding-top:2mm;">
        This Certificate is generated from bdris.gov.bd and to verify this certificate, please scan the above QR Code &amp; Bar Code.
      </td>
    </tr>
  </tbody>
</table>




</div>

</body>
</html>