<!DOCTYPE html>
<html lang="bn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.sonod_number }}</title>
    <link href="https://fonts.maateen.me/solaiman-lipi/font.css" rel="stylesheet">
    <style>
        * {
            font-family: "solaimanlipi", Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            -webkit-print-color-adjust: exact;
        }

        @page {
            size: A4;
            margin: 0;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .content-wrapper {
            background-image: url('{{ url }}/assets/bg.png');
            background-size: cover;
            background-repeat: no-repeat;
            width: 209mm;
            height: 297mm;
            position: relative;
            padding: 15mm;
        }

        /* Header */
        .header {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
            margin-bottom: 7.5pt;
        }
        .header td {
            vertical-align: middle;
            padding: 3.75pt;
        }
        .logo {
            height: 60pt;
            width: 60pt;
        }
        .bd-govt {
            font-size: 9pt;
            color: red;
        }
        .parishad-name {
            color: #3c01c5;
            font-size: 19.5pt;
            font-weight: bold;
            padding: 3.75pt 0;
        }
        .sub-header {
            font-size: 12pt;
            color: black;
            line-height: 1.5;
        }

        /* Certificate Title */
        .certificate-title {
            text-align: center;
            font-size: 19.5pt;
            text-decoration: underline;
            margin: 7.5pt;
        }

        /* Certificate Info */
        .certificate-info {
            width: 98%;
            margin: 7.5pt;
            border-collapse: collapse;
        }

        /* Person Info */
        .person-info {
            width: 98%;
            margin: 0 auto 15pt;
            font-size: 12pt;
            border-collapse: collapse;
        }
        .person-info td {
            padding: 3.75pt 7.5pt;
            text-align: left;
        }
        .person-info td:first-child {
            width: 30%;
            font-weight: bold;
        }
        .person-info td:last-child {
            width: 65%;
        }

        /* Paragraph */
        .paragraph {
            width: 98%;
            margin: 15pt auto;
            line-height: 2;
            text-indent: 37.5pt;
            font-size: 12pt;
        }

        /* Instructions */
        .instructions {
            width: 98%;
            margin: 30pt auto 0;
            border-collapse: collapse;
        }
        .instructions td {
            font-size: 10.5pt;
            padding: 7.5pt;
        }
        .instructions img {
            padding: 11.25pt;
        }
    </style>
</head>
<body>
    <div class="content-wrapper">

        <!-- Header -->
        <table class="header">
            <tr>
                <td width="20%">
                    <img src="{{ url }}/assets/logo/logo.png" alt="Logo" class="logo">
                </td>
                <td width="60%">
                    <div class="bd-govt">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</div>
                    <div class="parishad-name">{{ union.union_name_bn }}</div>
                    <div class="sub-header">
                        {{ union.upazila_name_bn }}, {{ union.district_name_bn }}-{{ union.postcode|bn }} <br>
                        মোবাইল: {{ union.phone | bn }} | ই-মেইল: {{ union.email }}<br>
                        ওয়েবসাইট: {{ union.website }}
                    </div>
                </td>
                <td width="20%">
                    <img src="{{ url }}/assets/img/band-cross.png" alt="X" class="logo">
                </td>
            </tr>
        </table>

        <!-- Certificate Title -->
        <div class="certificate-title">নতুন ভোটার সনদ</div>

        <!-- Certificate Number & Date -->
        <table class="certificate-info">
            <tr>
                <td style="width:77%;">
                    <table style="width: 450pt; border-color:black; border-collapse:collapse;">
                        <tr>
                            <td style="width:75pt; text-align:center; border: 0.75pt solid black; font-size:12pt; text-align: left;">সনদ নং :</td>
                            {% set sonod_number_bn = data.sonod_number | bn_number %}
                            {% for digit in sonod_number_bn | split('') %}
                                <td style="text-align:center; font-size:13.5pt; padding: 4.5pt; border: 0.75pt solid black;">{{ digit }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
                <td style="text-align:right; font-size:12pt;">
                    তারিখ : {{ data.issue_date|date('d-m-Y')|bn }}
                </td>
            </tr>
        </table>

        <!-- Intro Text -->
        <p style="margin-left:11.25pt;">&nbsp; &nbsp;&nbsp; &nbsp; এই মর্মে প্রত্যয়ন পত্র প্রদান করা যাইতেছে যে,</p>

        <!-- Person Info -->
        <table class="person-info">
            <tr><td>নাম</td><td>: {{ data.name_bn }}</td></tr>
            <tr><td>পিতার নাম</td><td>: {{ data.father_name_bn }}</td></tr>
            <tr><td>মাতার নাম</td><td>: {{ data.mother_name_bn }}</td></tr>
            {% if citizen.marital_status == 'Married' %}
            <tr><td>স্বামী/স্ত্রীর নাম</td><td>: {{ data.spouse_name_bn }}</td></tr>
            {% endif %}
            <tr><td>বর্তমান ঠিকানা</td><td>: গ্রাম/মহল্লাঃ {{ data.present_village_bn }}, রাস্তা/ব্লক/সেক্টরঃ {{ data.present_rbs_bn }}, ডাকঘর : {{ data.present_postoffice_bn }}, উপজেলা : {{ data.present_upazila_bn }}, জেলা : {{ data.present_district_bn }}</td></tr>
            <tr><td>স্থায়ী ঠিকানা</td><td>: গ্রাম/মহল্লাঃ {{ data.permanent_village_bn }}, রাস্তা/ব্লক/সেক্টরঃ {{ data.permanent_rbs_bn }}, ডাকঘর : {{ data.permanent_postoffice_bn }}, উপজেলা : {{ data.permanent_upazila_bn }}, জেলা : {{ data.permanent_district_bn }}</td></tr>
            {% if data.birth_id or data.nid or data.passport_no %}
            <tr><td>{% if data.birth_id %} জন্ম নিবন্ধন নং {% elseif data.nid %} ন্যাশনাল আইডি নং {% else %} পাসপোর্ট নং {% endif %}</td>
                <td>: {% if data.birth_id %} {{ data.birth_id | bn }} {% elseif data.nid %} {{ data.nid | bn }} {% elseif data.passport_no %} {{ data.passport_no }} {% endif %}</td></tr>
            {% endif %}
            <tr><td>ধর্ম</td><td>: {% set translations = {'Islam':'ইসলাম','Hinduism':'হিন্দুধর্ম','Christianity':'খ্রিস্টধর্ম','Buddhism':'বৌদ্ধধর্ম','Other':'অন্যান্য'} %} {{ translations[data.religion] | default(data.religion) }}</td></tr>
            <tr><td>ওয়ার্ড নং</td><td>: {{ data.present_ward_no|bn }}</td></tr>
            <tr><td>জন্ম তারিখ</td><td>: {{ data.birth_date | date('d-m-Y') | bn_number }}</td></tr>
        </table>

        <!-- Paragraph -->
        <div class="paragraph">
            অত্র ইউনিয়নের একজন স্থায়ী বাসিন্দা। তিনি জন্মগত ভাবে বাংলাদেশের নাগরিক এবং আমার পরিচিত।
            ভোটার তালিকা প্রণয়ন ও হালনাগাদের সময় তিনি বাড়িতে না থাকায় তার নাম তালিকা ভুক্ত হয়নি।
            তাহাকে নতুন ভোটার হওয়ার জন্য সুপারিশ করা হল। আমি তাহার সর্বাঙ্গীণ মঙ্গল ও উন্নতি কামনা করি।
        </div>

        <!-- Signature Table -->
        <table style="width:100%; border-collapse:collapse; margin-top: 37.5pt; margin-bottom: 22.5pt;">
            <tr>
            {% if approval.verifier_name %}
                <td style="text-align: center; padding-right: 15pt; width: 50%;">
                    <div style="border-top: 0.75pt solid #000; display: inline-block; padding-top: 3.75pt;">
                        ইউপি সদস্য
                    </div>
                </td>
            {% endif %}
                <td style="text-align: right; padding-right: 90pt; width: 50%;">
                    <div style="border-top: 0.75pt solid #000; display: inline-block; padding-top: 3.75pt;">
                        চেয়ারম্যান স্বাক্ষর
                    </div>
                </td>
            </tr>
        </table>
        <!-- Instructions -->
<!-- Footer -->
<htmlpagefooter name="MyFooter">
    <table class="instructions" style="width: 94%; border-collapse: collapse;">
        <tr>
            <td style="border-right:0.75pt solid black; border-top:0.75pt solid black; text-align:center; width: 25%;">
                <img src="https://quickchart.io/qr?text={{ url }}/verify/new-voter_bn/{{ data.sonod_number }}/{{ union.union_code }}/1&margin=1&size=300" height="82.5pt" width="82.5pt">
            </td>
            <td style="padding-left:22.5pt; border-bottom:0.75pt solid black; width: 75%;">
                <b>নির্দেশাবলীঃ</b><br>
                ১] সার্টিফিকেট টি ১৭ ডিজিটের সনদ নাম্বার দিয়ে ওয়েবসাইট ({{ union.website }}) থেকে যাচাই করুন অথবা Play Store থেকে "স্মার্ট ইউপি, ঢাকা" Apps টি install করে QR code টি Scan করুন।<br>
                ২) যে কোন ধরনের তথ্য নেয়ার জন্য ফোন করুন অথবা ইমেইল করুন।
            </td>
        </tr>
        <tr>
            <td style="text-align:center;">
                <font style="font-size:6pt;">Developed by Innovation IT</font><br>
                <font style="font-size:6pt;">www.innovationit.com.bd</font>
            </td>
            <td style="text-align:center;">
                <font style="font-size:6pt;">{{ union.website }} - {{ union.email }}</font>
            </td>
        </tr>
    </table>
</htmlpagefooter>

<!-- Enable Footer -->
<sethtmlpagefooter name="MyFooter" value="on" />


    </div>
</body>
</html>
