{% extends "layout.twig" %}

{% block title %}আবেদন ফরম{% endblock %}

{% block header_title %}আবেদন ফরম{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/assets/css/forms.css">
    <div class="container mt-4 px-3">
    <h2 class="text-center my-4 fw-bold">{{ certificate_type_bn }}</h2>
        {# নিয়মাবলী ও সাবমিট #}
        {% include 'common/rules.twig' %}
        <form id="applicationForm" method="POST" action="" enctype="multipart/form-data">
            <input type="hidden" name="certificate_type" value="{{ certificate_type }}">
            <legend class="w-auto px-2">আবেদন ফর্ম</legend>

            <fieldset class="border rounded p-3 mb-4">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="district_dropdown" class="form-label">জেলা</label>
                        <select id="district_dropdown" name="district" class="form-control" required>
                            <option value="3026" selected data-geo-code="3026" data-name-en="DHAKA" data-name-bn="ঢাকা" data-geo-id="25">ঢাকা</option>                    
                        </select>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="upazila_dropdown" class="form-label">উপজেলা</label>
                        <select id="upazila_dropdown" name="upazila" class="form-control" required>
                            <option value="">উপজেলা নির্বাচন করুন</option>
                        </select>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="union_dropdown" class="form-label">ইউনিয়ন</label>
                        <select id="union_dropdown" name="union_code" class="form-control" required>
                            <option value="">ইউনিয়ন নির্বাচন করুন</option>
                        </select>
                    </div>
                </div>
            </fieldset>

                    <fieldset class="border rounded p-3 mb-4">
                        <legend class="w-auto px-2">ব্যবসায়িক তথ্য</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="business_name_en" class="form-label">প্রতিষ্ঠানের নাম (ইংরেজিতে) <span class="text-danger">*</span></label>
                                    <input type="text" name="business_name_en" id="business_name_en" class="form-control" placeholder="Business Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="business_name_bn" class="form-label">প্রতিষ্ঠানের নাম (বাংলায়) <span class="text-danger">*</span></label>
                                    <input type="text" name="business_name_bn" id="business_name_bn" class="form-control" placeholder="প্রতিষ্ঠানের নাম">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Ownership Type Dropdown -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="business_ownership_type" class="form-label">প্রতিষ্ঠানের মালিকানার ধরণ *</label>
                                    <select name="business_ownership_type" id="business_ownership_type" class="form-control" required>
                                        <option value="">চিহ্নিত করুন</option>
                                        {% for type in ownership_types %}
                                            <option value="{{ type.id }}">{{ type.ownership_name_bn }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- Business Type Dropdown -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="business_type" class="form-label">ব্যবসার ধরন *</label>
                                    <select name="business_type" id="business_type" class="form-control" required>
                                        <option value="">চিহ্নিত করুন</option>
                                        {% for type in business_types %}
                                            <option value="{{ type.id }}">{{ type.business_name_bn }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="tin_no" class="form-label">টিআইএন (TIN) নম্বর</label>
                                    <input type="text" name="tin_no" id="tin_no" class="form-control" placeholder="টিআইএন নম্বর">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="vat_no" class="form-label">ভ্যাট (VAT) রেজিস্ট্রেশন নম্বর</label>
                                    <input type="text" name="vat_no" id="vat_no" class="form-control" placeholder="ভ্যাট রেজিস্ট্রেশন নম্বর">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="paid_up_capital" class="form-label">
                                    <span style="color: #d9534f; font-weight: bold;">পরিশোধিত মূলধন (লিঃ কোম্পানির ক্ষেত্রে) *</span></label>

                                    <input type="text" name="paid_up_capital" id="paid_up_capital" class="form-control" placeholder="ইংরেজিতে লিখুন">
                                </div>
                            </div>
                        </div>
                    </fieldset>

            {# ব্যক্তিগত তথ্য অংশ #}
            <fieldset class="border rounded p-3 mb-4">
                <legend class="w-auto px-2">ব্যক্তিগত তথ্য</legend>
                {% include 'common/personal_info.twig' %}
            </fieldset>

            {# ঠিকানা তথ্য অংশ #}

            <!-- বর্তমান ঠিকানা -->
            <fieldset class="border rounded p-3 mb-4">
                <legend class="w-auto px-2">বর্তমান ঠিকানা</legend>
                <div id="present_address_fields">
                    {% include 'common/address_fields.twig' with { prefix: 'present' } %}
                </div>
            </fieldset>

            <!-- স্থায়ী ঠিকানা -->
            <fieldset class="border rounded p-3 mb-4">
                <legend class="w-auto px-2">স্থায়ী ঠিকানা</legend>
                <!-- Copy Present to Permanent -->
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" id="copy_present_to_permanent">
                    <label class="form-check-label" for="copy_present_to_permanent">
                        বর্তমান ঠিকানা থেকে স্থায়ী ঠিকানা কপি করুন
                    </label>
                </div>
                <div id="permanent_address_fields">
                    {% include 'common/address_fields.twig' with { prefix: 'permanent' } %}
                </div>
            </fieldset>

            <!-- ব্যবসার ঠিকানা -->
            <fieldset class="border rounded p-3 mb-4">
                <legend class="w-auto px-2">ব্যবসার ঠিকানা</legend>
                <!-- Copy Present to Business -->
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" id="copy_present_to_business">
                    <label class="form-check-label" for="copy_present_to_business">
                        বর্তমান ঠিকানা থেকে ব্যবসায়িক ঠিকানা কপি করুন
                    </label>
                </div>
                <div id="business_address_fields">
                    {% include 'common/address_fields.twig' with { prefix: 'business' } %}
                </div>
            </fieldset>


            {# সারসংক্ষেপ অংশ #}
            <fieldset class="border rounded p-3 mb-4">
                <legend class="w-auto px-2">সারসংক্ষেপ</legend>
                {% include 'common/summary_section.twig' %}
            </fieldset>

            <div class="text-end mt-4">
                <button type="submit" class="btn btn-success submit-button">জমা দিন</button>
            </div>
        </form>
    </div>

    {# ফর্ম সাবমিশন এবং সফল মডাল হ্যান্ডলিং #}
    {% include 'common/success_modal.twig' %}


    <script src="/assets/js/forms.js">
    </script>

{% endblock %}

